tradeo-exp/src/main/resources/xsd/EXP304.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by YYC (EMBRACE) -->
<xs:schema xmlns:exp="http://www.chinaport.gov.cn/exp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.chinaport.gov.cn/exp" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="common.xsd"/>
	<xs:element name="Package">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exp:EnvelopInfo"/>
				<xs:element name="DataInfo">
					<xs:annotation>
						<xs:documentation>业务内容</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SignedData">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Data">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="exp:EXP304"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:sequence>
											<xs:element name="HashSign" type="xs:string"/>
											<xs:element name="SignerInfo" type="xs:string"/>
										</xs:sequence>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXP304">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EntryHead">
					<xs:annotation>
						<xs:documentation>报关单表头信息</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreEntryId">
								<xs:annotation>
									<xs:documentation>数据中心统一编号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EntryId">
								<xs:annotation>
									<xs:documentation>海关编号：关区号（4位）+
年份（4位）+进出口标志（1位,0-出口1-进口）+
原报关单编号（9位）
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IEFlag">
								<xs:annotation>
									<xs:documentation>进出口标志                                 ”I”-进口，
”E”-出口
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IEPort">
								<xs:annotation>
									<xs:documentation>进出口岸代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IEDate" type="exp:yyyyMMddHHmmss">
								<xs:annotation>
									<xs:documentation>进出口日期(YYYYMMDDHHMMSS)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DDate" type="exp:yyyyMMddHHmmss">
								<xs:annotation>
									<xs:documentation>申报时间(YYYYMMDDHHMMSS)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DestinationPort">
								<xs:annotation>
									<xs:documentation>指运港(抵运港)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TrafName">
								<xs:annotation>
									<xs:documentation>运输工具名称.                          为配合二乘舱单处理设计，转关货物报关时需要在船名处填写转关运输申报单编号以及一乘舱单船名，具体格式为：@+转关单号/船名（一乘舱单）</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VoyageNo">
								<xs:annotation>
									<xs:documentation>运输工具航次(班)号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TrafMode">
								<xs:annotation>
									<xs:documentation>运输方式代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeCo">
								<xs:annotation>
									<xs:documentation>收发货人编号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeName">
								<xs:annotation>
									<xs:documentation>收发货人名称</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DistrictCode">
								<xs:annotation>
									<xs:documentation>货主单位地区代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OwnerCode">
								<xs:annotation>
									<xs:documentation>货主单位代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OwnerName">
								<xs:annotation>
									<xs:documentation>货主单位名称</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AgentType">
								<xs:annotation>
									<xs:documentation>申报单位类别：B类报关单才有，A、C类必须为企业。0:企业；1：自然人</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AgentCode">
								<xs:annotation>
									<xs:documentation>申报单位代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AgentName">
								<xs:annotation>
									<xs:documentation>申报单位名称</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ContrNo">
								<xs:annotation>
									<xs:documentation>合同号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BillNo">
								<xs:annotation>
									<xs:documentation>总运单号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AssBillNo">
								<xs:annotation>
									<xs:documentation>分运单号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeCountry">
								<xs:annotation>
									<xs:documentation>贸易国别(起/抵运地)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeMode">
								<xs:annotation>
									<xs:documentation>监管方式</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CutMode">
								<xs:annotation>
									<xs:documentation>征免性质分类</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TransMode">
								<xs:annotation>
									<xs:documentation>成交方式</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FeeMark">
								<xs:annotation>
									<xs:documentation>运费标记                                    1代表率
2代表单价
3代表总价
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FeeCurr">
								<xs:annotation>
									<xs:documentation>运费币制</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FeeRate">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
运费/率                                          原来：
如果fee_mark=1该字段*10000存储代表百分数;
如果fee_mark=2该字段*100存储代表单价,
如果fee_mark=3该字段为总价，存原值
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InsurMark">
								<xs:annotation>
									<xs:documentation>保险费标记                                    说明:                                               1代表率
2代表单价
3代表总价
A、C类报关单需填报
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InsurCurr">
								<xs:annotation>
									<xs:documentation>保险费币制</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InsurRate">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
保险费/率                                      说明:                                               1代表率
2代表单价
3代表总价
A、C类报关单需填报
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OtherMark">
								<xs:annotation>
									<xs:documentation>杂费标记                                        说明: 同fee_mark说明,但是没有单价
A、C类报关单需填报
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OtherCurr">
								<xs:annotation>
									<xs:documentation>杂费币制</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OtherRate">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
杂费/率                                           1代表率
2代表单价
3代表总价
A、C类报关单需填报</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PackNo">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 0)
件数</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="19"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GrossWt">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
毛重                                               单位为公斤</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NetWt">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
净重                                               单位为公斤</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="WrapType">
								<xs:annotation>
									<xs:documentation>包装种类</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NoteS">
								<xs:annotation>
									<xs:documentation>备注</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DeclPort">
								<xs:annotation>
									<xs:documentation>申报口岸代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CoOwner">
								<xs:annotation>
									<xs:documentation>经营单位性质                                 说明:经营单位编码的第6位</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MnlJgfFlag">
								<xs:annotation>
									<xs:documentation>监管手续费标志字段</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ServiceRate">
								<xs:annotation>
									<xs:documentation>监管手续费率</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ServiceFee">
								<xs:annotation>
									<xs:documentation>监管手续费                                    说明:单位为元</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RelativeId">
								<xs:annotation>
									<xs:documentation>关联编号字段(转出的手册、转入、转出的报关单)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TypistNo">
								<xs:annotation>
									<xs:documentation>制单人</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InputNo">
								<xs:annotation>
									<xs:documentation>录入人</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InputCompanyCo">
								<xs:annotation>
									<xs:documentation>录入单位代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InputCompanyName">
								<xs:annotation>
									<xs:documentation>录入单位名称</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PDate">
								<xs:annotation>
									<xs:documentation>报关单打印日期</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DeclareNo">
								<xs:annotation>
									<xs:documentation>报关员代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CustomsField">
								<xs:annotation>
									<xs:documentation>码头/货场代码（为物流监控备用）</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SpecialFlag">
								<xs:annotation>
									<xs:documentation>报关单涉案标志着                          0-非涉案；
1-涉案
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="KjId">
								<xs:annotation>
									<xs:documentation>KJ编号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendName">
								<xs:annotation>
									<xs:documentation>发件人</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveName">
								<xs:annotation>
									<xs:documentation>收件人</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendCountry">
								<xs:annotation>
									<xs:documentation>发件人国别</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendCity">
								<xs:annotation>
									<xs:documentation>发件人城市</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendId">
								<xs:annotation>
									<xs:documentation>收发件人证件号码                      说明:B类使用，进口收件人；出口填发件人</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotalValue">
								<xs:annotation>
									<xs:documentation>DECIMAL(11,2)
价值</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CurrCode">
								<xs:annotation>
									<xs:documentation>币制</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveDate">
								<xs:annotation>
									<xs:documentation>审结日期(YYYYMMDDHHMMSS)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ChannelEr">
								<xs:annotation>
									<xs:documentation>审结人</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MainGName">
								<xs:annotation>
									<xs:documentation>主要商品名称</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EntryType">
								<xs:annotation>
									<xs:documentation>报关类别
A
B
C</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendIdType">
								<xs:annotation>
									<xs:documentation>收发件人证件类型
1 身份证
2 护照
3 其他

B类必填，A、C、D类必不填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeScc">
								<xs:annotation>
									<xs:documentation>收发货人统一社会信用代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OwnerScc">
								<xs:annotation>
									<xs:documentation>货主单位统一社会信用代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AgentScc">
								<xs:annotation>
									<xs:documentation>申报单位统一社会信用代码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendAddress">
								<xs:annotation>
									<xs:documentation>发件人地址</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendTelNo">
								<xs:annotation>
									<xs:documentation>发件人号码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="64"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveAddress">
								<xs:annotation>
									<xs:documentation>收件人地址</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveTelNo">
								<xs:annotation>
									<xs:documentation>收件人号码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="64"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveCountry">
								<xs:annotation>
									<xs:documentation>收件人国别 </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveCity">
								<xs:annotation>
									<xs:documentation>收件人城市  </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StopCityEn">
								<xs:annotation>
									<xs:documentation>英文经停城市</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="512"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendNameEn">
								<xs:annotation>
									<xs:documentation>英文发件人</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendAddressEn">
								<xs:annotation>
									<xs:documentation>英文发件人地址</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SendCityEn">
								<xs:annotation>
									<xs:documentation>英文发件人城市</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveNameEn">
								<xs:annotation>
									<xs:documentation>英文收件人 </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveAddressEn">
								<xs:annotation>
									<xs:documentation>英文收件人地址 </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="WoodWrap">
								<xs:annotation>
									<xs:documentation>是否含木质包装 </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MainGNameEn">
								<xs:annotation>
									<xs:documentation>主要货物英文名称 </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GoodsUsed">
								<xs:annotation>
									<xs:documentation>是否为旧物品</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LowTempTrans">
								<xs:annotation>
									<xs:documentation>是否为低温运输</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EntryList" minOccurs="0" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>报关单表体信息</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GNo">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 0)
序号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="19"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CodeTS">
								<xs:annotation>
									<xs:documentation>商品编号（行邮税号）</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GName">
								<xs:annotation>
									<xs:documentation>商品名称(B类叫:物品名称)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GModel">
								<xs:annotation>
									<xs:documentation>商品规格、型号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OriginCountry">
								<xs:annotation>
									<xs:documentation>产销国</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeCurr">
								<xs:annotation>
									<xs:documentation>成交币制</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DeclPrice">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
申报单价</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DeclTotal">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 4)
申报总价</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UseTo">
								<xs:annotation>
									<xs:documentation>用途</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DutyMode">
								<xs:annotation>
									<xs:documentation>征减免税方式</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GQty">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
申报数量</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GUnit">
								<xs:annotation>
									<xs:documentation>申报计量单位</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Qty1">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
第一(法定)数量</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Qty2">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 5)
第二数量</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Unit1">
								<xs:annotation>
									<xs:documentation>第一(法定)计量单位</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Unit2">
								<xs:annotation>
									<xs:documentation>第二计量单位</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeTotal">
								<xs:annotation>
									<xs:documentation>DECIMAL(19, 4)
成交总价</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ClassMark">
								<xs:annotation>
									<xs:documentation>归类标志                                        说明:                                               0:自动归类                                     1:人工归类</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GGrossWt">
								<xs:annotation>
									<xs:documentation>Number（19，5）
商品毛重字段</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MName">
								<xs:annotation>
									<xs:documentation>生产厂商</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OriginCity">
								<xs:annotation>
									<xs:documentation>产销城市 </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GNameEn">
								<xs:annotation>
									<xs:documentation>英文商品名称  </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Backup1">
								<xs:annotation>
									<xs:documentation>备用字段1</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Backup2">
								<xs:annotation>
									<xs:documentation>备用字段2</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Backup3">
								<xs:annotation>
									<xs:documentation>备用字段3</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Backup4">
								<xs:annotation>
									<xs:documentation>备用字段4</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Backup5">
								<xs:annotation>
									<xs:documentation>备用字段5</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EntryDocu" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrderNo">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="19"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DocuCode">
								<xs:annotation>
									<xs:documentation>随附单证类型</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CertCode">
								<xs:annotation>
									<xs:documentation>随附单证号码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
