tradeo-exp/src/main/resources/xsd/EXP311.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by YYC (EMBRACE) -->
<xs:schema xmlns:exp="http://www.chinaport.gov.cn/exp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.chinaport.gov.cn/exp" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="common.xsd"/>
	<xs:element name="Package">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exp:EnvelopInfo"/>
				<xs:element name="DataInfo">
					<xs:annotation>
						<xs:documentation>业务内容</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SignedData">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Data">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="exp:EXP311"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:sequence>
											<xs:element name="HashSign" type="xs:string"/>
											<xs:element name="SignerInfo" type="xs:string"/>
										</xs:sequence>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXP311">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ExpMftHead">
					<xs:annotation>
						<xs:documentation>快件舱单表头信息</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OpType">
								<xs:annotation>
									<xs:documentation>操作类型
ADD 新增表头、表体
APD 追加表体、修改表头</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BillNo">
								<xs:annotation>
									<xs:documentation>总运单号
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VoyageNo">
								<xs:annotation>
									<xs:documentation>运输工具航次(班)号
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IEFlag">
								<xs:annotation>
									<xs:documentation>进出口标志                                 ”I”-进口，
”E”-出口

必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TrafCnName">
								<xs:annotation>
									<xs:documentation>运输工具中文名称.                    
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TrafEnName">
								<xs:annotation>
									<xs:documentation>运输工具英文名称.                    
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GrossWt">
								<xs:annotation>
									<xs:documentation>DECIMAL(18, 5)
毛重                                               单位为公斤

必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="19"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PackNo">
								<xs:annotation>
									<xs:documentation>DECIMAL(18, 0)
件数
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BillNum">
								<xs:annotation>
									<xs:documentation>分运单总数
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TrafMode">
								<xs:annotation>
									<xs:documentation>运输方式代码
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IEDate" type="exp:yyyyMMdd">
								<xs:annotation>
									<xs:documentation>进出口日期(YYYYMMDD)

必填</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DestinationPort">
								<xs:annotation>
									<xs:documentation>指运港(抵运港)
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IEPort">
								<xs:annotation>
									<xs:documentation>进出口岸代码

必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeCo">
								<xs:annotation>
									<xs:documentation>经营单位编号
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeName">
								<xs:annotation>
									<xs:documentation>经营单位名称
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InputNo">
								<xs:annotation>
									<xs:documentation>录入人卡号
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InputOpName">
								<xs:annotation>
									<xs:documentation>录入人姓名
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InputCompanyCode">
								<xs:annotation>
									<xs:documentation>录入单位代码
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InputCompanyName">
								<xs:annotation>
									<xs:documentation>录入单位名称
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExpMftList" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>快件舱单表体信息</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BillNo">
								<xs:annotation>
									<xs:documentation>总运单号
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AssBillNo">
								<xs:annotation>
									<xs:documentation>分运单号
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VoyageNo">
								<xs:annotation>
									<xs:documentation>运输工具航次(班)号
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MainGName">
								<xs:annotation>
									<xs:documentation>主要商品名称
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PackNo">
								<xs:annotation>
									<xs:documentation>DECIMAL(18, 0)
件数
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GrossWt">
								<xs:annotation>
									<xs:documentation>DECIMAL(18, 5)
商品毛重字段
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="19"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeTotal">
								<xs:annotation>
									<xs:documentation>DECIMAL(11, 2)
价值
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeCurr">
								<xs:annotation>
									<xs:documentation>成交币制
必填</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
